<p style="color: green"><%= notice %></p>

<%= render @category %>

<div class="list-group" style="margin-left: 20px; margin-right: 20px;">
  <% @category.transactions.each do |transaction| %>
    <%= link_to transaction, class: "text-decoration-none" do %>
  <div class="card mb-2">
    <div class="card-body d-flex justify-content-between">
      <div>
        <h5 class="card-title"><%= transaction.name %></h5>
      </div>
      <div>
        <% total_amount = @category.transactions.sum(:amount) %>
        <p class="card-text">$<%= transaction.amount %></p>
      </div>
    </div>
  </div>
     <% end %>
  <% end %>
</div>


<footer class="navbar navbar-expand-lg navbar-light fixed-bottom" style="background-color: #5fb523;">
  <div class="container">
    <%= link_to "Add a new transaction", new_transaction_path(category_id: @category.id), class: "btn btn-success btn-block", style: "background-color: #5fb523; width: 100%; border: 1px solid white;" %>
  </div>
</footer>