<div id="<%= dom_id transaction %>">
  <p>
    <strong>Author:</strong>
    <%= transaction.author_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= transaction.name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= transaction.amount %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= transaction.created_at %>
  </p>

</div>
